body {
  background-image: url("/static/images/background.jpg");
  color: #FCFAEE;
  font-family: 'Luminari', 'Courier New', monospace;
}
h1 {
  font-size: 75px;
}
p {
  font-size: 25px;
}
.center {
  margin: auto;
  width: 75%;
  border: 3px solid #036856;
  padding: 5px;
  background-color: #036856;
  font-size: 75px;
}

.scoreHighlight {
  margin: auto;
  width: 75%;
  border: 6px solid #384B70;
  padding: 2px;
  background-color: #036856;
  font-size: 75px;
}

.referanceLinks {
  margin: auto;
  width: 75%;
  border: 3px solid #036856;
  padding: 5px;
  background-color: #036856;
  font-size: 40px;
  }

  a:visited {
    color: #FCFAEE;
}