{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action="{{ request.path }}" method="POST" class="center">
        {{ template_form.hidden_tag() }}
        <p>
          {{ template_form.givenTimeInput.label }}
          {{ template_form.givenTimeInput() }}
          {{ template_form.submit_knop() }}
        </p>
        <p>Time input has to given in hour:minute:second format, so for example: 1:30:21. </p>
    </form>
    
    <ul class="scoreHighlight">
        {% for item in data %}
          <p>{{ item.title }}</p>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}
