{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action="{{ request.path }}" method="POST" class="center">
        {{ template_form.hidden_tag() }}
        <p>
          {{ template_form.givenTimeInput.label }}
          {{ template_form.givenTimeInput() }}
        </p>
        <p>
          {{ template_form.runnerName.label }}
          {{ template_form.runnerName() }}
        </p>
        <p>Time input has to be given in hour:minute:second format, so for example: 1:30:21. </p>
        <p>{{ template_form.submit_knop() }}</p>
    </form>

    <ul class="scoreHighlight" style="list-style-type: none; padding-left: 0;">
      {% for item in data %}
        <li>
          <p>
            {% if loop.index == 1 %}
              1st place —
            {% elif loop.index == 2 %}
              2nd place —
            {% elif loop.index == 3 %}
              3rd place —
            {% endif %}
            {{ item.timeStringValue }} by the runner: {{ item.runnerData }}
            {% if item.timeDifferenceBetweenRuns is not none %}
              — {{ translateSeconds(item.timeDifferenceBetweenRuns) }} faster than next slower run
            {% endif %}
          </p>
        </li>
      {% endfor %}
  </ul>
  
</body>
</html>
{% endblock %}
